<div [@routerTransition]>
    <p-toolbar styleClass="mb-3">
        <ng-template pTemplate="start">
            <h1 class="m-0">Nghề nghiệp</h1>
        </ng-template>
        <ng-template pTemplate="end">
            @if (isGranted('Pages.Careers.Create')) {
                <p-button icon="pi pi-plus" label="Thêm mới" (onClick)="createCareer()"></p-button>
            }
        </ng-template>
    </p-toolbar>

    <section class="content px-2 pb-3">
        <div class="container-fluid">
            <div class="card table-wrapper">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="d-flex" style="gap: 0.5rem">
                                <p-iconfield class="flex-grow-1">
                                    <p-inputicon styleClass="pi pi-search"></p-inputicon>
                                    <input
                                        pInputText
                                        type="text"
                                        name="keyword"
                                        placeholder="Tìm kiếm..."
                                        [(ngModel)]="keyword"
                                        (keyup.enter)="list()"
                                        style="width: 100%" />
                                </p-iconfield>
                                <p-button icon="pi pi-search" pTooltip="Tìm kiếm" tooltipPosition="top" (onClick)="list()"></p-button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body table-responsive table-striped table-bordered">
                    <div class="primeng-datatable-container">
                        <p-table
                            #dataTable
                            sortMode="multiple"
                            (onLazyLoad)="list($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                            [paginator]="false"
                            [lazy]="true"
                            [tableStyle]="{ 'min-width': '20rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">
                                        Tên nghề nghiệp
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width: 120px">{{ 'Actions' | localize }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>{{ record.name }}</td>
                                    <td>
                                        <div class="d-flex" style="gap: 0.25rem">
                                            @if (isGranted('Pages.Careers.Update')) {
                                                <p-button icon="pi pi-pencil" size="small" severity="secondary"
                                                    pTooltip="Sửa" tooltipPosition="top"
                                                    (onClick)="editCareer(record)">
                                                </p-button>
                                            }
                                            @if (isGranted('Pages.Careers.Delete')) {
                                                <p-button icon="pi pi-trash" size="small" severity="danger"
                                                    pTooltip="Xóa" tooltipPosition="top"
                                                    (onClick)="delete(record)">
                                                </p-button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        @if (primengTableHelper.totalRecordsCount == 0) {
                            <div class="primeng-no-data">{{ 'NoData' | localize }}</div>
                        }
                        <div class="ui-table-footer"></div>
                    </div>
                </div>

                <div class="card-footer table-card-footer bg-white border-top">
                    <div class="row align-items-center">
                        <div class="col-sm-4 col-12 text-sm-left text-center">
                            <p-button icon="pi pi-refresh" severity="secondary" pTooltip="Làm mới" tooltipPosition="top" (onClick)="refresh()"></p-button>
                        </div>
                        <div class="col-sm-8 col-12">
                            <div class="float-sm-right m-auto">
                                <div class="primeng-paging-container">
                                    <p-paginator
                                        [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                        #paginator
                                        (onPageChange)="list($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                        [showCurrentPageReport]="true"
                                        [currentPageReportTemplate]="
                                            'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                        "></p-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
