<div [@routerTransition]>
    <p-toolbar styleClass="mb-3">
        <ng-template pTemplate="start">
            <h1 class="m-0">{{ 'Kols' | localize }}</h1>
        </ng-template>
        <ng-template pTemplate="end">
            <p-button icon="pi pi-plus" [label]="'Create' | localize" (onClick)="createKol()"></p-button>
        </ng-template>
    </p-toolbar>

    <section class="content px-2 pb-3">
        <div class="container-fluid">
            <div class="card table-wrapper">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="d-flex" style="gap: 0.5rem">
                                <p-iconfield class="flex-grow-1">
                                    <p-inputicon styleClass="pi pi-search"></p-inputicon>
                                    <input
                                        pInputText
                                        type="text"
                                        name="keyword"
                                        [placeholder]="'SearchWithThreeDot' | localize"
                                        [(ngModel)]="keyword"
                                        (keyup.enter)="list()"
                                        style="width: 100%" />
                                </p-iconfield>
                                <p-button icon="pi pi-search" (onClick)="list()"></p-button>
                                <p-button
                                    [icon]="advancedFiltersVisible ? 'pi pi-angle-up' : 'pi pi-angle-down'"
                                    severity="secondary"
                                    (onClick)="advancedFiltersVisible = !advancedFiltersVisible">
                                </p-button>
                            </div>
                        </div>
                    </div>

                    @if (advancedFiltersVisible) {
                        <div class="mt-2 pt-3 border-top">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">{{ 'Channel' | localize }}</label>
                                    <p-select
                                        [(ngModel)]="filterChannel"
                                        name="filterChannel"
                                        [options]="channelOptions"
                                        optionLabel="label"
                                        optionValue="value"
                                        [fluid]="true">
                                    </p-select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">{{ 'Career' | localize }}</label>
                                    <p-select
                                        [(ngModel)]="filterCareer"
                                        name="filterCareer"
                                        [options]="careerOptions"
                                        optionLabel="label"
                                        optionValue="value"
                                        [fluid]="true">
                                    </p-select>
                                </div>
                            </div>
                            <div class="d-flex mt-3" style="gap: 0.5rem">
                                <p-button
                                    icon="pi pi-search"
                                    [label]="'Search' | localize"
                                    (onClick)="list()">
                                </p-button>
                                <p-button
                                    [label]="'Clear' | localize"
                                    severity="secondary"
                                    (onClick)="clearFilters()">
                                </p-button>
                            </div>
                        </div>
                    }
                </div>

                <div class="card-body table-responsive table-striped table-bordered">
                    <div class="primeng-datatable-container">
                        <p-table
                            #dataTable
                            sortMode="multiple"
                            (onLazyLoad)="list($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                            [paginator]="false"
                            [lazy]="true"
                            [tableStyle]="{ 'min-width': '80rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="min-width: 200px" pSortableColumn="name">
                                        {{ 'Name' | localize }}<p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="min-width: 140px">Account ID</th>
                                    <th style="min-width: 110px">{{ 'Channel' | localize }}</th>
                                    <th style="min-width: 110px">{{ 'Career' | localize }}</th>
                                    <th style="min-width: 110px" pSortableColumn="follow">
                                        Follow<p-sortIcon field="follow"></p-sortIcon>
                                    </th>
                                    <th style="min-width: 130px" pSortableColumn="generalCast">
                                        General Cast<p-sortIcon field="generalCast"></p-sortIcon>
                                    </th>
                                    <th style="min-width: 130px">{{ 'Phone' | localize }}</th>
                                    <th style="min-width: 180px">{{ 'Address' | localize }}</th>
                                    <th style="min-width: 160px">{{ 'Actions' | localize }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span>{{ record.name }}</span>
                                        @if (record.link) {
                                            <a [href]="record.link" target="_blank" class="ml-1">
                                                <i class="pi pi-external-link" style="font-size: 0.75rem"></i>
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        <span class="text-muted" style="font-size: 0.85rem">{{ record.accountId }}</span>
                                    </td>
                                    <td>
                                        <p-tag
                                            [severity]="getChannelSeverity(record.channel)"
                                            [value]="getChannelLabel(record.channel)">
                                        </p-tag>
                                    </td>
                                    <td>{{ getCareerLabel(record.career) }}</td>
                                    <td>{{ record.follow | number }}</td>
                                    <td>{{ record.generalCast | number }}</td>
                                    <td>{{ record.phone }}</td>
                                    <td>{{ record.address }}</td>
                                    <td>
                                        <div class="d-flex" style="gap: 0.25rem">
                                            <p-button
                                                icon="pi pi-pencil"
                                                [label]="'Edit' | localize"
                                                size="small"
                                                severity="secondary"
                                                (onClick)="editKol(record)">
                                            </p-button>
                                            <p-button
                                                icon="pi pi-trash"
                                                [label]="'Delete' | localize"
                                                size="small"
                                                severity="danger"
                                                (onClick)="delete(record)">
                                            </p-button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        @if (primengTableHelper.totalRecordsCount == 0) {
                            <div class="primeng-no-data">{{ 'NoData' | localize }}</div>
                        }
                        <div class="ui-table-footer"></div>
                    </div>
                </div>

                <div class="card-footer table-card-footer bg-white border-top">
                    <div class="row align-items-center">
                        <div class="col-sm-4 col-12 text-sm-left text-center">
                            <p-button icon="pi pi-refresh" severity="secondary" (onClick)="refresh()"></p-button>
                        </div>
                        <div class="col-sm-8 col-12">
                            <div class="float-sm-right m-auto">
                                <div class="primeng-paging-container">
                                    <p-paginator
                                        [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                        #paginator
                                        (onPageChange)="list($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                        [showCurrentPageReport]="true"
                                        [currentPageReportTemplate]="
                                            'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                        "></p-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
